.clear{
    background-image: linear-gradient(to bottom, #88e95e, #9bea7b, #aeeb96, #bfecb0, #d1ecc8);
}
.cloudy{
    background-image: linear-gradient(to bottom, #8e8e8d, #a09f9f, #b2b1b1, #c4c3c4, #d6d6d6);
}
.mostlyCloudy{
    background-image: linear-gradient(to right bottom, #89b5fe 0%, #e3f5ff 100%);
}
.partlyCloudy{
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);

}
.rain{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6af), to(#bdf));
}
.snow{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.snowRain{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
html, body {
    height: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
#temp, #tempIcon{
    color: white;
    font-size: 6.5rem;
    text-align: center;
    margin-bottom: 0px;
    font-family: "nato sans";
}
#tempIcon{
    text-align: left;
}
#xmKor{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 3px;
    font-family: "nato sans";
}
body{
    background: no-repeat;
    background: fixed;
    margin: 0%;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
#marginPart{
    margin-top: 40%;
}
#weatherIcon{
    width:100%;
    align: center;
}
#weatherIcon1{
    width:100%;
    align: center;
    margin-left: 50%;
}
#weatherIcon2{
    width:100%;
    align: center;
    margin-left: 80%;
}
#weatherIcon3{
    width:100%;
    align: center;
    margin-left: 150%;
}
#Line{
    margin-top: 40%;
    margin-bottom: 3%;
    width:90%;
    border: solid 2px ghostwhite;
    opacity: 0.4;
}

#Minifont1{
    color: white;
    text-align: center;
    font-size: 1em;
    margin-bottom: 0px;
    margin-left: 30%;
}
#Minifont2{
    color: white;
    text-align: center;
    font-size: 1em;
    margin-bottom: 0px;
    margin-left: 0%;
}
#Minifont3{
    color: white;
    font-size: 1em;
    margin-bottom: 0px;
    margin-left: 0%;
    text-align: center;
}
#tempFont1{
    color : white;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 0px;
    margin-left: 30%;
}
#tempFont2{
    color : white;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 0px;
}
#tempFont3{
    color : white;
    font-size: 1.2em;
    margin-bottom: 0px;
    margin-left: 0%;
}

