#TodayText
{
    color: white;
    font-size: 2.3em;
}
#NomeanText{
    color: white;
    font-size:1.3em;
}

h1, p{
    color: white;
    text-align: center;
    font-family: nato sans;
}

.circle1{
    background-color: white;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    opacity: 0.7;
    align: center;
}
.circle2{
    background-color: white;
    width:30px;
    height: 30px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    opacity: 0.4;
    align: center;
}
.CircleHr{
    border:solid white;
    width: 0;
    height: 133px;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0.4;
    align: center;
}
#MarginLine1{
    margin-bottom: 15%;
}
#time1, #time2, #Am, #Pm{
    text-align: left;
    margin-top: 0;
}

#Am, #Pm{
    margin-bottom: 0;
    font-size: 1.3em;
}
#Pm{
    margin-top: 5%;
}

#time1{
    margin-bottom: 65%;
    font-size: 3.5em;
}

#time2{
    margin-bottom: 65%;
    font-size:3.5em;
}
#circleDiv{
    margin-top:13%;
}

#Windowtime{
    padding: 0px;
}